@keyframes active-red {
  0% {
    background-color: rgba(288, 75, 68, 0.2);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes active-green {
  0% {
    background-color: rgba(1, 167, 129, 0.16);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}

.Order {
  font-size: 11px;
  width: 100%;
  display: flex;
  transition: background-color 0.2s;
  animation-fill-mode: forwards;
  animation-duration: 0.6s;
}

.Order__item {
  flex: 1;
  padding: 2px 4px;
  text-align: center;
}

.Order--left {
  animation-name: active-green;
}

.Order--right {
  animation-name: active-red;
}

.Order--left .Order__item:last-of-type {
  text-align: right;
}

.Order--right .Order__item:first-of-type {
  text-align: left;
}
